h1 {
    text-align: center;
    color: #278cd0;
  }
  a {
    text-align: center;
    color: rgb(168, 4, 4);
  }
  h1 .android{
    color: rgb(15, 167, 33);
    text-align: right;
  }
  h1 #style1{
    color: rgb(15, 167, 33);
    text-align: right;
  }

  body .space{
    background: bisque;
    margin-top: 20;
  }
  .spaced{
    background-color:violet;
    margin-top: 20;
  }